.containerItem{
    max-width: 50vw;
    height: auto;
    background-color: #FEFEEC;
    border-radius:  0px  80px  80px 0px;
    margin: 20px 0px;
    padding: 15px 0px;
}
.containerItem-1{
    max-width: 51.5vw;
    height: auto;
    border-radius:  20px  80px  80px 20px;
    border: 6px solid #FEFEEC;
    margin: 50px 0px;
}
.imgdetail{
    max-width: 50vw;
    height: 50vh;
    object-fit: contain;
}
.infoP{
    font-size: 45px;
    color: #1d1c25;
    font-weight: 900;
}
.infoS{
    font-size: 35px;
    color: #1d1c25;
    font-weight: 700;
}
.infoT{
    font-size: 20px;
    max-width: 35vw;
    font-weight: 500;
    margin: auto;
    color: #1d1c25;
}