.title {
    font-size: 56px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: all .5s;
}

.title:hover {
    color: rgb(219, 255, 255);
}

.title-h1 {
    margin-bottom: .5em 0;
    transition: all .5s;
}

.title-h1:hover {
    transform: scale(1.15);
}

.list {
    background-color: transparent;
    padding: 6.5px 8.5px;
    margin: 0px 16px;
    border: solid 1.5px rgb(255, 255, 255);
    color: rgb(240, 250, 252);
    border-radius: 25px;
    font-size: 1.1em;
    transition: all 0.35s;
}

.list:hover {
    background-color: #211f2c;
    transform: scale(1.05);
    cursor: pointer;
}

.hr-linea {
    max-width: 95%;
    margin: 20px auto;
}

.container-cart {
    display: flex;
    justify-content: flex-end;
    margin: 0px 20px;
    margin-top: -40px;
}

nav {
    width: 100%;
    height: auto;
    background: rgb(31, 28, 90);
    background: linear-gradient(0deg, rgba(31, 28, 90, 0) 0%, rgba(25, 23, 31, 1) 100%);
}